<section class="trends-section" aria-labelledby="trends-title">
    <!-- ======== TÍTULO PRINCIPAL ======== -->
    <h2 id="trends-title" class="trends-title">
        {{ heading }}
    </h2>

    <!-- ======== SECCIÓN DE CATEGORÍAS ======== -->
    <div class="trends-grid" role="list">
        @for (card of cards; track $index) {
        <article class="trend-card" role="listitem">
            <figure class="media">
                <img [src]="card.img" [alt]="card.alt" loading="lazy" class="media-img" />
            </figure>
            <div class="card-caption">
                <p class="caption-text">{{ card.titulo }}</p>
            </div>
        </article>
        }
    </div>

    <!-- ======== SECCIÓN DE PRODUCTOS ======== -->
    <div class="productos-section">
        <h3 class="productos-title">Explora nuestros productos</h3>

        <div class="cards">
            @for (item of productosmen; track $index) {
            <div class="card" (click)="navigation(item.id)" tabindex="0">
                <img [src]="item.imagen" [alt]="item.nombre" loading="lazy" />
                <h3>{{ item.nombre }}</h3>
                <p class="precio">${{ item.precio |number}}</p>
                <button type="button">Agregar al carrito</button>
            </div>
            }
        </div>
    </div>
</section>